.Content-one{
    min-width: 100vw;
    min-height: 796px;
    background-image:url("../../images/image-1.jpg");
    background-size: 100% 100%;
  }
  .Container-text{
    min-height: 796px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
  }
  .Container-text p{
    margin: 0 auto ;
    color: #835e3f;
    text-align: justify;
    max-width: 84%;
    font-size: 20px;
  }
  .Container-text h2{
    margin: 0 auto ;
    color: #835e3f;
    font-size: 95px;
    max-width: 85%;
  }
  .Container-text button{
    height: 60px;
    width: 300px;
    margin-left:8%;
    background: #716c53;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 20px;
    font-weight: 700;
  }

  @media (min-width:750px) and (max-width:1050px) {
    .Container-text h2{
      font-size: 70px;
    }
    .Container-text button{
      max-width: 90%;
    }
    
  }
  @media (min-width:320px) and (max-width:749px) {
    .Container-text h2{
      font-size: 40px;
    }
    .Container-text p{
      font-size: 14px;
    }
    .Container-text button{
      max-width: 90%;
    }
    
  }